<!-- <h1>Hello world</h1> -->
<!-- <div [style.backgroundColor]='color'>{{info}}</div> -->
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Title" [(ngModel)]="postdata.title" name='title'>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Content"  [(ngModel)]="postdata.content" name='content'></textarea>
    </mat-form-field>
    <button mat-button (click)=addPost()> Post</button>
</form>

<div style="padding: 5px ">
<mat-spinner *ngIf="posts.length === 0"></mat-spinner>

<mat-card class="example-card" *ngFor="let post of posts">
    <mat-card-header>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.author.name}}</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
            <p>
                {{post.content}}
            </p>
    </mat-card-content>
    <mat-card-actions>
            <button mat-button>AGREE</button>
    </mat-card-actions>
</mat-card>


</div>